/* Color Section : LCCC Color Scheme */
$lcccdarkgray: #404040;
$lcccblue: #00539f;
$lcccdarkblue: #024a8c;
$lcccnavlinkcolor: #FFFFFF;
$footerbackground: #191919;
$footerareatextcolor: #FFFFFF;
$lccclightblue: #6caeea;
$lcccmedblue: #3384cd;
$buttonlinkwhite: #FFFFFF;
$black: #000000;
$white: #FFFFFF;
$bodybackground:rgba(255,255,255,0.95);
$lightgray:rgba(219,219,219,0.8);
$winslightblue:#00B5F1;
$footerbackground:#4E4E4E;
$bodybackground1:#000006;
$bodybackground2:#060143;
$headerbackground1:#060143;
$headerbackground2:#0B0175;
$registerbutton1:#6463CE;
$registerbutton2:#061662;