/*! Section 3 - Header */
$mobilelogobreakingpoint: 640px;
$mobilelogobreakingpoint2: 778px;
#jvsheaderlogo{float: left; display: block;margin: 30px 20px 5px 0;
@media screen and (max-width: $mobilelogobreakingpoint){
	margin: 0;
}
}
#lcccheaderlogo{float: left; display: block;  margin: 40px 20px 0 20px;
@media screen and (max-width: $mobilelogobreakingpoint2){
	  margin: 40px 1px 0;
}
	@media screen and (max-width: $mobilelogobreakingpoint){
	.headersidebar {
  padding-top: 0px;
	}	
}
}
.brandinglogos{
@media screen and (max-width: $mobilelogobreakingpoint2){
	padding: 0;
}
	@media screen and (max-width: $mobilelogobreakingpoint){
	padding: 0;
}
}
.site-header{ background-image: url(images/header.png);height: 164px; background-color: $white;}
#lcwins-logo{
	@media screen and (max-width: $mobilelogobreakingpoint){
	 margin-top: 40px;
}
}
.headersidebar{  padding-top: 15px;}
